<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<body>
    <!-- Main page content container -->
    <div id="page" layout:fragment="content">
        <h1></h1>
        <div>
            <div class="divInline">
                <!-- Slideshow code from https://www.w3schools.com/howto/howto_js_slideshow.asp -->
                <div class="slideshowBox">
                    <!-- Slideshow images entered within -->
                    <div class="slideshowSlide">
                        <img src="/images/roomType1.jpg" style="width:100%">
                        <div class="slideshowCaption">Gold Room</div>
                    </div>
                    <div class="slideshowSlide">
                        <img src="/images/roomType2.jpg" style="width:100%">
                        <div class="slideshowCaption">Platinum Room</div>
                    </div>
                    <div class="slideshowSlide">
                        <img src="/images/roomType3.jpg" style="width:100%">
                        <div class="slideshowCaption">Diamond Room</div>
                    </div>
                    <div class="slideshowSlide">
                        <img src="/images/roomType4.jpg" style="width:100%">
                        <div class="slideshowCaption">Californium Room</div>
                    </div>
                    <!-- Next and previous slide arrows -->
                    <a class="slideshowPrev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="slideshowNext" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <!-- Dots below slideshow track position -->
                <div class="slideshowTracker" style="text-align:center">
                    <span class="slideshowDot" onclick="currentSlide(1)"></span>
                    <span class="slideshowDot" onclick="currentSlide(2)"></span>
                    <span class="slideshowDot" onclick="currentSlide(3)"></span>
                    <span class="slideshowDot" onclick="currentSlide(4)"></span>
                </div>
            </div>
            <!-- "Find a room" form container -->

            <div class="divInline">
                <div>
                    <form name="bookForm" method="post" th:action="@{/booking}" th:object="${booking}">
                        <h2 th:text="${message} ?  'Room Booked' : 'Book Room #' + ${roomId}"></h2><br>
                        <div th:if="${message != null}" th:text="${message}" class="alert alert-success" role="alert"></div>
                        <input type="hidden" th:field="*{room.id}">

                        <div>
                            <div class="divInline">
                                Please enter requested start date:<br>
                                <input type="date" id="startDate" name="startDate" th:field="*{startDate}">
                            </div>
                            <div class="divInline">
                                Please enter requested end date:<br>
                                <input type="date" id="endDate" name="endDate" align="right" th:field="*{endDate}"><br>
                            </div>
                        </div>
                        <div>
                            Adults:<br>
                            <input type="number" th:field="*{numOfPeople}" title="adults" min="0">
                        </div>
                        <div>
                            Name:<br>
                            <input type="text" th:field="*{bookingName}">
                        </div>
                        <div>
                            Address:<br>
                            <input type="text" name="bookAddress" th:field="*{address}">
                        </div>
                        <div>
                            Email:<br>
                            <input type="text" name="bookEmail" th:field="*{email}">
                        </div>
                        <br>
                        <div>
                            <input type="submit" class="btn btn-primary" name="viewSubmit" value="Book Room">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls increment/decrement slide index
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Dots will change slide index to specified number
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    //Function by which slides are changed
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slideshowSlide");
        var dots = document.getElementsByClassName("slideshowDot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    document.getElementById('startDate').valueAsDate = new Date();
    document.getElementById('endDate').valueAsDate = new Date();
</script>
