<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<body>
    <div layout:fragment="content" class="container">
        <h2 style="text-align: center">Leave feedback</h2>
        <div class="container">
                <form role="form" method="post" th:action="@{/feedback}" th:object="${feedback}">
                    <input type="hidden" th:field="*{booking.id}">
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <div class="form-group">
                                <textarea class="form-control textarea" rows="3" th:field="*{text}" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

